@import 'https://fonts.googleapis.com/css?family=Abel';

body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "Abel", sans-serif;
}

#container {
	width: 100vw;
	height: 100vh;
}

#background {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-image: url("img/va-image.jpg");
	background-size: cover;
	opacity: 0.3;
  filter: alpha(opacity=30); /* For IE8 and earlier */
  z-index: -1;
}

#header{
	width: 100vw;
	height: 105px;
	padding: 10px 10px;
	position: relative;
	margin:30px auto;
	background: url('img/va-logo.png') no-repeat;
	display: block;
	z-index: 2;
	background-color: white;
}

#museum_search{
	width: 500px;
	height: 500px;
	padding: 10px;
	margin: 0 auto;
	
}

/*#field {
	margin-left: 10px;
}*/

#q {
	padding-left: 5px;
	width: 400px;
	margin-left: 10px;
	height: 26px;
	text-transform: capitalize;
	font-size: 1em;
}

#search_results {
	display:flex;
	display:-webskit-flex;
	display:-moz-flex;
	justify-content:space-around;	
	width:100%;
/*	display:inline-block;*/
	font-size: 20px;
  text-transform: capitalize;
	text-align: left;
	vertical-align: middle;
	margin:0 0 0 10px;
/*	padding-top:10px;*/
}


.text {
	display:flex;
	display:-webkit-flex;
	display:-moz-flex;
	width: 260px;
	height: 85px;
	margin:10px 0 10px;
	color:#000;
	display: inline-block;
}

#submit{
	height: 26px;
	margin-right: 5px;
	font-size: 12px;
	text-transform: uppercase;
	color: #e2e2e2;
	background:#ae2a26;
	border: none;
	border-radius: 2px;
	margin:10px 5px 10px 0;
}

#submit:focus{
	outline: none;
}